<!DOCTYPE html>
<html>
    <head>
        <title>Study Notes {{.Title ""}}</title>
        <link rel="stylesheet" href="/css/main.css">
        {{.CSS ""}}
        <script type="text/javascript" src="/jquery.min.js" ></script>
        {{.JS ""}}
    </head>
    <body style="background-color: #e5e5e5;">
        <div id="header">
            <div id="site-logo">Study Notes</div>
            <div id="search-box">
                <input type="text" id="search" />
            </div>
            <button>Go</button>
            <div id="main-menu">
                <a href="/">首页</a>
                <a href="/about">关于</a>
            </div>
            <div class="clear"></div>
        </div>
        <div id="body">
            <div id="body-border">
                {{.Content}}
            </div>
            <div class="clear"></div>
        </div>
    </body>
</html>
