<!DOCTYPE html>
<html>
    <head>
        <title>Study Notes {{.Title ""}}</title>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
        <link rel="stylesheet" href="/css/main.css"/>
        {{.CSS ""}}
        <script type="text/javascript" src="/js/jquery.min.js" ></script>
        {{.JS ""}}
    </head>
    <body style="background-color: #e5e5e5;">
        <div id="header">
            <div id="site-logo">Study Notes</div>
            <div id="search-box">
                <input type="text" id="search" />
            </div>
            <button>Go</button>
            <div id="main-menu">
                <a href="/" class="{{.F "menu_class_index"}}">首页</a>
                <a href="/about" class="{{.F "menu_class_about"}}">关于</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="topic-box">
            <div class="topic-border">
                {{.Content}}
            </div>
            <div class="clear"></div>
        </div>
        <div class="comments-box">
            <div class="comments-title">评论：</div>
            <div class="comments-list">
                <div class="comment-box">
                    <div class="comment-user">roy@zuo.com说：(2013-12-09)</div>
                    <span class="comment-content">相信Redhat已经开始明白，失去桌面用户不仅仅只意味着“失去那些不愿付一分钱的穷逼”（随便说下，这里不是引用），因为这些穷逼当中有很多是系统管理员，他们很快就会考虑服务器应该装哪个系统，Redhat还是Ubuntu？如果你已经在自己家里安装了Ubuntu服务器，那么两种选择都可以。放弃桌面用户的Redhat等于是搬起石头砸自己的脚。有趣的是，他们为了赚取更多的钱而拼命去满足那些没有灵魂的企业用户。然而万事以人为本，在这些面无表情的企业后面是成千上万的系统管理员，他们现在全都喜欢用Ubuntu，并且</span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </body>
</html>
