{{define "JS"}}
    <script type="text/javascript" src="/tinymce_jquery/js/tinymce/tinymce.min.js" ></script>
{{end}}

<center>
    <form action="/topic/new" method="post" >
        <div>{{.Message}}</div>
        <textarea placeholder="title" style="width: 500px; height: 50px;" name="title" id="title" name="title">{{.Title}}</textarea>
        <textarea placeholder="content" name="content" id="content" name="content">{{.Content}}</textarea>
        <input type="submit" value="submit"/>
    </form>
</center>

<script>
    tinymce.init({
        selector:'#content',
        height: 800,
        content_css: "/css/content.css",
        plugins: ["autolink link image"],
        toolbar: "insertfile undo redo | styleselect | bold italic  fontsizeselect | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticonsi",
        theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px",
        font_size_style_values: "12px,13px,14px,16px,18px,20px"
    });
</script>
