{{$ := .Data}}
{{.Title "Admin - edit topic" }}
{{.JS "/kindeditor/kindeditor-min.js"}}
{{.JS "/kindeditor/lang/zh_CN.js"}}
<center>
    <form action="/admin/topic/{{$.Id}}/edit" method="post">
        <textarea placeholder="title" style="width: 500px; height: 50px;" name="title" id="title" name="title">{{$.Title}}</textarea>
        <textarea placeholder="content" name="content" id="content">{{$.Content}}</textarea>
        <p>发布<input type="checkbox" name="state" {{if $.State}}checked{{end}} value="1"/></p>
        <input type="submit" value="submit"/>
    </form>
</center>

<script>
    $(document).ready(function() {
        var editor = KindEditor.create('#content', {
            width: 960,
            height: 700
        });
    });
</script>
